<div id="page-wrapper">
  <div>
    <a class="btcn" href="##">Back to Rate Setup</a>
  </div>
  <div id="rate-group-app" class="console-app rate-group-console row">
    <div id="rate_groups">
      <%= render 'rate_groups' %>
    </div>


    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="schedule-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 ng-show="active_schedule.is_blackout" id="myModalLabel" class="ng-hide">Blackout Schedule</h3>
            <h3 ng-show="!active_schedule.is_blackout" id="myModalLabel" class="">Schedule</h3>
          </div>
          <form ng-submit="saveSchedule()" class="form form-horizontal ng-pristine ng-invalid ng-invalid-required">
            <div class="modal-body visible-modal-body">
              <input type="hidden" ng-modal="active_schedule.rate_group_id">
              <div class="form-group">
                <label class="control-label col-sm-3">Schedule type</label>

                <div class="controls col-sm-8">
                  <select ng-model="active_schedule.schedule_type" class="select form-control ng-pristine ng-valid"><option value="? undefined:undefined ?"></option>
                    <option value="time_of_day">Time of Day</option>
                    <option value="day_of_week">Day of Week</option>
                    <option value="date_range">Date Range</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>

                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_schedule.name" placeholder="Schedule name" class="form-control ng-pristine ng-invalid ng-invalid-required"></div>
              </div>
              <input type="hidden" ng-model="active_schedule.is_blackout" class="ng-pristine ng-valid">


              <div ng-show="active_schedule.schedule_type == 'time_of_day' " class="ng-hide">

                <div class="form-group">
                  <label class="control-label col-sm-3">Start time</label>

                  <div class="controls col-sm-8">
                    <input type="text" placeholder="Start time" ng-model="active_schedule.start_time" ui-options="timeOptions()" ng-required="active_schedule.schedule_type == 'time_of_day'" ui-jq="calendricalTime" class="form-control ng-pristine ng-valid ng-valid-required" autocomplete="off">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3">End time</label>

                  <div class="controls col-sm-8">
                    <input type="text" placeholder="End time" ng-model="active_schedule.end_time" ui-options="timeOptions()" ng-required="active_schedule.schedule_type == 'time_of_day'" ui-jq="calendricalTime" class="form-control ng-pristine ng-valid ng-valid-required" autocomplete="off">
                  </div>
                </div>

              </div>

              <div ng-show="active_schedule.schedule_type == 'day_of_week'" id="day-of-week-controls" class="ng-hide">
                <div class="form-group">
                  <label class="control-label col-sm-3">Monday</label>

                  <div class="controls col-sm-8">

                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_monday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Tuesday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_tuesday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Wednesday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_wednesday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Thursday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_thursday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Friday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_friday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Saturday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_saturday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Sunday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_sunday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>

              </div>

              <div ng-show="active_schedule.schedule_type == 'date_range'" id="date-range-controls" class="ng-hide">

                <div class="form-group">
                  <label class="control-label col-sm-3">Start date</label>
                  <div class="controls col-sm-8">
                    <input type="text" placeholder="Start Date" ui-date="dateOptions" ng-model="active_schedule.start_date" class="form-control ng-pristine ng-valid hasDatepicker" id="dp1420621508015">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">End date</label>
                  <div class="controls col-sm-8">
                    <input type="text" placeholder="End Date" ui-date="dateOptions" ng-model="active_schedule.end_date" class="form-control ng-pristine ng-valid hasDatepicker" id="dp1420621508016">
                  </div>
                </div>

              </div>
              <div ng-show="!active_schedule.is_blackout" class="form-group">
                <label class="control-label col-sm-3">Rate groups</label>
                <div class="controls col-sm-8">
                  <select ng-options="s.id as s.name for s in rate_groups" ng-model="active_schedule.rate_group_ids" multiple="" class="form-control ng-pristine ng-valid"><option value="0">Regular</option><option value="1">abc</option></select>

                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
              <input type="submit" value="Save Schedule" ng-hide="schedule_saving" class="btn btn-primary">
              <button class="btn btn-default ng-hide" disabled="" ng-show="schedule_saving">Saving...</button>
            </div>
          </form>
        </div>
      </div>


    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal " id="company-account-modal">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Corporate Account</h3>
          </div>
          <form ng-submit="saveCompanyAccount()" class="form form-horizontal ng-pristine ng-invalid ng-invalid-required">
            <div class="modal-body visible-modal-body">
              <input type="hidden" ng-modal="active_company_account.rate_group_id">
              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>
                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_company_account.name" class="form-control ng-pristine ng-invalid ng-invalid-required"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Contact name</label>
                <div class="controls col-sm-8">
                  <input type="text" ng-model="active_company_account.contact_name" class="form-control ng-pristine ng-valid">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Contact phone</label>
                <div class="controls col-sm-8">
                  <input type="text" ng-model="active_company_account.contact_phone" class="form-control ng-pristine ng-valid">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Contact email</label>
                <div class="controls col-sm-8">
                  <input type="text" ng-model="active_company_account.contact_email" class="form-control ng-pristine ng-valid">
                </div>
              </div>

              <div ng-show="active_company_account.enroll_code" class="form-group ng-hide">
                <label class="control-label col-sm-3">Enroll code</label>
                <div class="controls col-sm-8">
                  <input type="text" ng-model="active_company_account.enroll_code" class="form-control ng-pristine ng-valid">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Rate groups</label>
                <div class="controls col-sm-8">
                  <select ng-options="s.id as s.name for s in rate_groups" ng-model="active_company_account.rate_group_ids" multiple="" class="form-control ng-pristine ng-valid"><option value="0">Regular</option><option value="1">abc</option></select>

                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
              <input type="submit" value="Save corporate account" class="btn btn-primary">
            </div>
          </form>

        </div>
      </div>


    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="rate-adjustment-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Discount</h3>
          </div>
          <form ng-submit="saveRateAdjustment()" class="form form-horizontal ng-pristine ng-invalid ng-invalid-required">
            <div class="modal-body visible-modal-body">
              <div class="form-group">
                <label class="control-label col-sm-3">Discount type</label>
                <div class="controls col-sm-8">
                  <select ng-model="active_rate_adjustment.adjustment_type" class="form-control select optional ng-pristine ng-valid"><option value="? undefined:undefined ?"></option>
                    <option value="percentage_discount">Percentage discount</option>
                    <option value="fixed_discount">Fixed discount</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>
                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_rate_adjustment.name" class="form-control ng-pristine ng-invalid ng-invalid-required"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Code</label>
                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_rate_adjustment.code" class="form-control ng-pristine ng-invalid ng-invalid-required">
                </div>
              </div>
              <div ng-show="active_rate_adjustment.adjustment_type == 'percentage_discount'" class="form-group ng-hide">
                <label class="control-label col-sm-3">Percentage</label>
                <div class="controls col-sm-8">
                  <div class="input-group">
                    <input type="text" ng-model="active_rate_adjustment.percentage" class="form-control numeric decimal optional span1 ng-pristine ng-valid">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
              <div ng-show="active_rate_adjustment.adjustment_type == 'fixed_discount'" class="form-group ng-hide">
                <label class="control-label col-sm-3">Amount</label>
                <div class="controls col-sm-8">
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" ng-model="active_rate_adjustment.amount" class="form-control numeric decimal optional span1 ng-pristine ng-valid">

                  </div>
                </div>

              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Corporate accounts</label>
                <div class="controls col-sm-8">
                  <select ng-options="s.id as s.name for s in all_company_accounts" ng-model="active_rate_adjustment.company_account_ids" multiple="" class="form-control ng-pristine ng-valid"><option value="0">Leanne &amp; Patrick Nichol</option><option value="1">Pat Coulter</option><option value="2">Chris Gordon</option></select>

                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
              <input type="submit" value="Save discount" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>




    </div>





    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="rate-group-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Rate group</h3>
          </div>
          <%= form_for :rate_group,:url=>"/rate_groups",:html=>{:class=>"form form-horizontal"},:remote=>true do |f| %>
            <div class="modal-body visible-modal-body">
              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>
                <div class="controls col-sm-8">
                  <%= f.text_field :name,:class=>"form-control" %>
                </div>
                <%= f.hidden_field :company_id,:value=>"#{current_user.company.id}" %>
              </div>
              <div class="modal-footer">
                <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
                <input type="submit" value="Save rate group" class="btn btn-primary" onclick="$('#rate-group-modal').modal('hide');">
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>