<div id="page-wrapper">
  <div>
    <a class="btcn" href="##">Back to Rate Setup</a>
  </div>
  <div id="rate-group-app" class="console-app rate-group-console row">
    <div id="rate_groups">
      <%= render 'rate_groups' %>
    </div>


    <div class="col-md-7">

      <div class="tabbable tabs-right"> 
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#tab4">Rate groups <span class="badge">2</span></a>
          </li>
          <li class="">
            <a data-toggle="tab" href="#tab1">Schedules <span class="badge">0</span></a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab2">Location Rules <span class="badge">0</span></a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab3">Corp. Accounts <span class="badge">3</span></a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab5">Discounts <span class="badge">0</span></a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="tab1" class="tab-pane">
            <a data-toggle="modal" class="btn btn-sm btn-default" href="##"><i class="fa fa-plus"> </i> Add new schedule</a>

            <a data-toggle="modal" class="btn btn-sm btn-default" ng-click="newSchedule(true)" href="#">
              <i class="fa fa-plus"> </i> Add blackout schedule
            </a>

            <p class="m-t-md m-b-md text-muted">All Schedules</p>

            <table class="table table-condensed table-striped">

              <tbody>
                <!-- ngRepeat: schedule in all_schedules -->
              </tbody>
            </table>

            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th class="">Global Blackout Schedules</th>
                </tr>
              </thead>
              <tbody>
                <!-- ngRepeat: schedule in all_schedules -->
              </tbody>
            </table>



          </div>
          <div id="tab2" class="tab-pane">
            <a data-toggle="modal" class="btn btn-sm btn-default" ng-click="newLocationRule()" href="#">
              <i class="fa fa-plus"> </i> Add new location rule
            </a>

            <p class="text-muted m-t-md m-b md">All location rules</p>


            <table class="table table-condensed table-striped">

              <tbody>
                <!-- ngRepeat: location_rule in all_location_rules -->
              </tbody>
            </table>
          </div>
          <div id="tab3" class="tab-pane">
            <a data-toggle="modal" class="btn btn-sm btn-default" ng-click="newCompanyAccount()" href="#">
              <i class="fa fa-plus"> </i> Add corporate account
            </a>

            <p class="m-t-md m-b-md text-muted">All corporate accounts</p>

            <table class="table table-condensed table-striped">

              <tbody>
                <!-- ngRepeat: company_account in all_company_accounts --><tr ng-repeat="company_account in all_company_accounts" class="ng-scope">
                  <td><a ng-click="editCompanyAccount(company_account)" href="#" class="ng-binding">Leanne &amp; Patrick Nichol</a>
                    <br>
                    <small class="ng-binding"><span class="muted"><strong>Contact:</strong></span> Leanne 404.630.2266 lreid011@yahoo.com</small><br>
                    <small class="ng-binding"><span class="muted"><strong>Enroll code:</strong></span> CMCT </small> <br>
                    <small class="ng-binding"><span class="muted"><strong>Assigned rate groups:</strong></span>  </small>
                  </td>
                  <td>
                    <a ng-click="deleteCompanyAccount(company_account)" class="btn mb1 btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr><!-- end ngRepeat: company_account in all_company_accounts --><tr ng-repeat="company_account in all_company_accounts" class="ng-scope">
                  <td><a ng-click="editCompanyAccount(company_account)" href="#" class="ng-binding">Pat Coulter</a>
                    <br>
                    <small class="ng-binding"><span class="muted"><strong>Contact:</strong></span> Pat Coulter Office: 206.937.1116  Home: 206.542.6393 wcou816767@aol.com</small><br>
                    <small class="ng-binding"><span class="muted"><strong>Enroll code:</strong></span> AQZR </small> <br>
                    <small class="ng-binding"><span class="muted"><strong>Assigned rate groups:</strong></span>  </small>
                  </td>
                  <td>
                    <a ng-click="deleteCompanyAccount(company_account)" class="btn mb1 btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr><!-- end ngRepeat: company_account in all_company_accounts --><tr ng-repeat="company_account in all_company_accounts" class="ng-scope">
                  <td><a ng-click="editCompanyAccount(company_account)" href="#" class="ng-binding">Chris Gordon</a>
                    <br>
                    <small class="ng-binding"><span class="muted"><strong>Contact:</strong></span> Chris Gordon 404.790.1381 Cgordon@harrisbroadcast.com</small><br>
                    <small class="ng-binding"><span class="muted"><strong>Enroll code:</strong></span> VKRH </small> <br>
                    <small class="ng-binding"><span class="muted"><strong>Assigned rate groups:</strong></span>  </small>
                  </td>
                  <td>
                    <a ng-click="deleteCompanyAccount(company_account)" class="btn mb1 btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr><!-- end ngRepeat: company_account in all_company_accounts -->
              </tbody>
            </table>

          </div>
          <div id="tab4" class="tab-pane active">

            <a class="btn btn-sm btn-default" href="##" onclick="$('#rate-group-modal').modal('show');"> <i class="fa fa-plus"> </i>Add new rate group</a>


            <p class="m-t-md m-b-md text-muted">All rate groups</p>
            <table class="table table-striped">
              <tbody data-update-url="/rate_groups/sort" class="sortable-table ui-sortable" style="">
                <!-- ngRepeat: rate_group in rate_groups --><tr ng-repeat="rate_group in rate_groups" id="rate_group_737" style="" class="ng-scope">
                  <td><a ng-click="editRateGroup(rate_group)" href="#" class="ng-binding">Regular</a><br>

                    <small class="ng-binding"><span class="muted">Schedules: </span></small><br>
                    <small class="ng-binding"><span class="muted">Corporate accounts: </span></small><br>
                    <small class="ng-binding"><span class="muted">Location rules: </span></small>

                  </td>

                  <td>

                    <a class="btn btn-sm btn-danger" ng-click="deleteRateGroup(rate_group)" ng-show="rate_groups.length &gt; 1" href="#">Delete</a>

                  </td>
                </tr><!-- end ngRepeat: rate_group in rate_groups --><tr ng-repeat="rate_group in rate_groups" id="rate_group_1266" style="" class="ng-scope">
                  <td><a ng-click="editRateGroup(rate_group)" href="#" class="ng-binding">abc</a><br>

                    <small class="ng-binding"><span class="muted">Schedules: </span></small><br>
                    <small class="ng-binding"><span class="muted">Corporate accounts: </span></small><br>
                    <small class="ng-binding"><span class="muted">Location rules: </span></small>

                  </td>

                  <td>

                    <a class="btn btn-sm btn-danger" ng-click="deleteRateGroup(rate_group)" ng-show="rate_groups.length &gt; 1" href="#">Delete</a>

                  </td>
                </tr><!-- end ngRepeat: rate_group in rate_groups -->
              </tbody>
            </table>


            <div ng-show="rate_groups.length &gt; 1" class="alert alert-info large-top-margin">
              Drag and drop the rate group rows above to control the sequence in which the system looks for rates.
            </div>


          </div>
          <div id="tab5" class="tab-pane">
            <a data-toggle="modal" class="btn btn-sm btn-default" ng-click="newRateAdjustment()" href="#">
              <i class="fa fa-plus"> </i> Add discount
            </a>

            <p class="text-muted m-t-md m-b-md">Corporate account base rate discounts</p>

            <table class="table table-condensed table-striped">
              <tbody>
                <!-- ngRepeat: rate_adjustment in all_rate_adjustments -->
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>





    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="schedule-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 ng-show="active_schedule.is_blackout" id="myModalLabel" class="ng-hide">Blackout Schedule</h3>
            <h3 ng-show="!active_schedule.is_blackout" id="myModalLabel" class="">Schedule</h3>
          </div>
          <form ng-submit="saveSchedule()" class="form form-horizontal ng-pristine ng-invalid ng-invalid-required">
            <div class="modal-body visible-modal-body">
              <input type="hidden" ng-modal="active_schedule.rate_group_id">
              <div class="form-group">
                <label class="control-label col-sm-3">Schedule type</label>

                <div class="controls col-sm-8">
                  <select ng-model="active_schedule.schedule_type" class="select form-control ng-pristine ng-valid"><option value="? undefined:undefined ?"></option>
                    <option value="time_of_day">Time of Day</option>
                    <option value="day_of_week">Day of Week</option>
                    <option value="date_range">Date Range</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>

                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_schedule.name" placeholder="Schedule name" class="form-control ng-pristine ng-invalid ng-invalid-required"></div>
              </div>
              <input type="hidden" ng-model="active_schedule.is_blackout" class="ng-pristine ng-valid">


              <div ng-show="active_schedule.schedule_type == 'time_of_day' " class="ng-hide">

                <div class="form-group">
                  <label class="control-label col-sm-3">Start time</label>

                  <div class="controls col-sm-8">
                    <input type="text" placeholder="Start time" ng-model="active_schedule.start_time" ui-options="timeOptions()" ng-required="active_schedule.schedule_type == 'time_of_day'" ui-jq="calendricalTime" class="form-control ng-pristine ng-valid ng-valid-required" autocomplete="off">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-3">End time</label>

                  <div class="controls col-sm-8">
                    <input type="text" placeholder="End time" ng-model="active_schedule.end_time" ui-options="timeOptions()" ng-required="active_schedule.schedule_type == 'time_of_day'" ui-jq="calendricalTime" class="form-control ng-pristine ng-valid ng-valid-required" autocomplete="off">
                  </div>
                </div>

              </div>

              <div ng-show="active_schedule.schedule_type == 'day_of_week'" id="day-of-week-controls" class="ng-hide">
                <div class="form-group">
                  <label class="control-label col-sm-3">Monday</label>

                  <div class="controls col-sm-8">

                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_monday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Tuesday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_tuesday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Wednesday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_wednesday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Thursday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_thursday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Friday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_friday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Saturday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_saturday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Sunday</label>

                  <div class="controls col-sm-8">
                    <label class="checkbox">
                      <input type="checkbox" ng-model="active_schedule.is_sunday" class="ng-pristine ng-valid">
                    </label>
                  </div>
                </div>

              </div>

              <div ng-show="active_schedule.schedule_type == 'date_range'" id="date-range-controls" class="ng-hide">

                <div class="form-group">
                  <label class="control-label col-sm-3">Start date</label>
                  <div class="controls col-sm-8">
                    <input type="text" placeholder="Start Date" ui-date="dateOptions" ng-model="active_schedule.start_date" class="form-control ng-pristine ng-valid hasDatepicker" id="dp1420621508015">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">End date</label>
                  <div class="controls col-sm-8">
                    <input type="text" placeholder="End Date" ui-date="dateOptions" ng-model="active_schedule.end_date" class="form-control ng-pristine ng-valid hasDatepicker" id="dp1420621508016">
                  </div>
                </div>

              </div>
              <div ng-show="!active_schedule.is_blackout" class="form-group">
                <label class="control-label col-sm-3">Rate groups</label>
                <div class="controls col-sm-8">
                  <select ng-options="s.id as s.name for s in rate_groups" ng-model="active_schedule.rate_group_ids" multiple="" class="form-control ng-pristine ng-valid"><option value="0">Regular</option><option value="1">abc</option></select>

                </div>
              </div>


            </div>
            <div class="modal-footer">
              <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
              <input type="submit" value="Save Schedule" ng-hide="schedule_saving" class="btn btn-primary">
              <button class="btn btn-default ng-hide" disabled="" ng-show="schedule_saving">Saving...</button>
            </div>
          </form>
        </div>
      </div>


    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal " id="company-account-modal">

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Corporate Account</h3>
          </div>
          <form ng-submit="saveCompanyAccount()" class="form form-horizontal ng-pristine ng-invalid ng-invalid-required">
            <div class="modal-body visible-modal-body">
              <input type="hidden" ng-modal="active_company_account.rate_group_id">
              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>
                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_company_account.name" class="form-control ng-pristine ng-invalid ng-invalid-required"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Contact name</label>
                <div class="controls col-sm-8">
                  <input type="text" ng-model="active_company_account.contact_name" class="form-control ng-pristine ng-valid">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Contact phone</label>
                <div class="controls col-sm-8">
                  <input type="text" ng-model="active_company_account.contact_phone" class="form-control ng-pristine ng-valid">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Contact email</label>
                <div class="controls col-sm-8">
                  <input type="text" ng-model="active_company_account.contact_email" class="form-control ng-pristine ng-valid">
                </div>
              </div>

              <div ng-show="active_company_account.enroll_code" class="form-group ng-hide">
                <label class="control-label col-sm-3">Enroll code</label>
                <div class="controls col-sm-8">
                  <input type="text" ng-model="active_company_account.enroll_code" class="form-control ng-pristine ng-valid">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Rate groups</label>
                <div class="controls col-sm-8">
                  <select ng-options="s.id as s.name for s in rate_groups" ng-model="active_company_account.rate_group_ids" multiple="" class="form-control ng-pristine ng-valid"><option value="0">Regular</option><option value="1">abc</option></select>

                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
              <input type="submit" value="Save corporate account" class="btn btn-primary">
            </div>
          </form>

        </div>
      </div>


    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="rate-adjustment-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Discount</h3>
          </div>
          <form ng-submit="saveRateAdjustment()" class="form form-horizontal ng-pristine ng-invalid ng-invalid-required">
            <div class="modal-body visible-modal-body">
              <div class="form-group">
                <label class="control-label col-sm-3">Discount type</label>
                <div class="controls col-sm-8">
                  <select ng-model="active_rate_adjustment.adjustment_type" class="form-control select optional ng-pristine ng-valid"><option value="? undefined:undefined ?"></option>
                    <option value="percentage_discount">Percentage discount</option>
                    <option value="fixed_discount">Fixed discount</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>
                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_rate_adjustment.name" class="form-control ng-pristine ng-invalid ng-invalid-required"></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Code</label>
                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_rate_adjustment.code" class="form-control ng-pristine ng-invalid ng-invalid-required">
                </div>
              </div>
              <div ng-show="active_rate_adjustment.adjustment_type == 'percentage_discount'" class="form-group ng-hide">
                <label class="control-label col-sm-3">Percentage</label>
                <div class="controls col-sm-8">
                  <div class="input-group">
                    <input type="text" ng-model="active_rate_adjustment.percentage" class="form-control numeric decimal optional span1 ng-pristine ng-valid">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
              <div ng-show="active_rate_adjustment.adjustment_type == 'fixed_discount'" class="form-group ng-hide">
                <label class="control-label col-sm-3">Amount</label>
                <div class="controls col-sm-8">
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" ng-model="active_rate_adjustment.amount" class="form-control numeric decimal optional span1 ng-pristine ng-valid">

                  </div>
                </div>

              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Corporate accounts</label>
                <div class="controls col-sm-8">
                  <select ng-options="s.id as s.name for s in all_company_accounts" ng-model="active_rate_adjustment.company_account_ids" multiple="" class="form-control ng-pristine ng-valid"><option value="0">Leanne &amp; Patrick Nichol</option><option value="1">Pat Coulter</option><option value="2">Chris Gordon</option></select>

                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
              <input type="submit" value="Save discount" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>




    </div>



    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal tall-modal" id="location-rule-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Location Rule</h3>
          </div>
          <form ng-submit="saveLocationRule()" class="form form-horizontal ng-pristine ng-invalid ng-invalid-required">
            <div class="modal-body visible-modal-body">
              <input type="hidden" ng-modal="active_location_rule.rate_group_id">
              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>
                <div class="controls col-sm-8">
                  <input type="text" required="" ng-model="active_location_rule.name" class="form-control ng-pristine ng-invalid ng-invalid-required"></div>
              </div>
              <div class="form-group select optional">
                <label class="control-label col-sm-3">Location type</label>

                <div class="controls col-sm-8">
                  <select ng-model="active_location_rule.location_type" class="select form-control ng-pristine ng-valid"><option value="? undefined:undefined ?"></option>
                    <option selected="selected" value="pickup">Pickup</option>
                    <option value="dropoff">Dropoff</option>
                    <option value="pickup_or_dropoff">Pickup or dropoff</option>
                    <option value="pickup_and_dropoff">Pickup and dropoff</option>
                  </select></div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">Condition type</label>

                <div class="controls col-sm-8">
                  <select ng-model="active_location_rule.condition_type" class="select form-control ng-pristine ng-valid"><option value="? undefined:undefined ?"></option>
                    <option value="in_same_state_as">In same state</option>
                    <option value="within_radius_of">Is within radius of</option>
                  </select>
                </div>
              </div>

              <div ng-show="active_location_rule.condition_type == 'within_radius_of'" class="radius-fields ng-hide">
                <div class="form-group">
                  <label class="control-label col-sm-3">Radius distance</label>
                  <div class="controls col-sm-8">
                    <div class="input-group">
                      <input type="text" ng-model="active_location_rule.radius_distance" class="form-control ng-pristine ng-valid">
                      <span class="input-group-addon">miles</span>
                    </div>
                  </div>
                </div>
              </div>

              <hr>

              <div ng-show="active_location_rule.condition_type == 'within_radius_of'" class="radius-fields ng-hide">
                <div class="form-group">
                  <label class="control-label col-sm-3">Address:</label>

                  <div class="controls col-sm-8">
                    <input type="hidden" ng-model="active_location_rule.address.address_type" class="ng-pristine ng-valid">
                    <input type="text" placeholder="Address line" class="form-control ng-pristine ng-valid" ng-model="active_location_rule.address.line1">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3"></label>
                  <div class="controls col-sm-8">
                    <input type="text" placeholder="City" class="form-control ng-pristine ng-valid" ng-model="active_location_rule.address.city">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3">Zip / Postal Code</label>

                  <div class="controls col-sm-8">
                    <input type="text" placeholder="Zip" class="form-control ng-pristine ng-valid" ng-model="active_location_rule.address.zip">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">State / Province</label>

                <div class="controls col-sm-8">

                  <select ng-options="c.id as c.name group by c.country_name for c in states_list" ng-model="active_location_rule.address.state" class="form-control ng-pristine ng-valid"><option value="?" selected="selected"></option><optgroup label="United States"><option value="0">Alabama</option><option value="1">Alaska</option><option value="2">Arizona</option><option value="3">Arkansas</option><option value="4">California</option><option value="5">Colorado</option><option value="6">Connecticut</option><option value="7">Delaware</option><option value="8">District Of Columbia</option><option value="9">Florida</option><option value="10">Georgia</option><option value="11">Hawaii</option><option value="12">Idaho</option><option value="13">Illinois</option><option value="14">Indiana</option><option value="15">Iowa</option><option value="16">Kansas</option><option value="17">Kentucky</option><option value="18">Louisiana</option><option value="19">Maine</option><option value="20">Maryland</option><option value="21">Massachusetts</option><option value="22">Michigan</option><option value="23">Minnesota</option><option value="24">Mississippi</option><option value="25">Missouri</option><option value="26">Montana</option><option value="27">Nebraska</option><option value="28">Nevada</option><option value="29">New Hampshire</option><option value="30">New Jersey</option><option value="31">New Mexico</option><option value="32">New York</option><option value="33">North Carolina</option><option value="34">North Dakota</option><option value="35">Ohio</option><option value="36">Oklahoma</option><option value="37">Oregon</option><option value="38">Pennsylvania</option><option value="39">Rhode Island</option><option value="40">South Carolina</option><option value="41">South Dakota</option><option value="42">Tennessee</option><option value="43">Texas</option><option value="44">Utah</option><option value="45">Vermont</option><option value="46">Virginia</option><option value="47">Washington</option><option value="48">West Virginia</option><option value="49">Wisconsin</option><option value="50">Wyoming</option><option value="51">American Samoa</option><option value="52">Federated States of Micronesia</option><option value="53">Guam</option><option value="54">Marshall Islands</option><option value="55">Northern Mariana Islands</option><option value="56">Palau</option><option value="57">Puerto Rico</option><option value="58">Virgin Islands</option><option value="59">Armed Forces Americas (except Canada)</option><option value="60">Armed Forces Europe, Canada, Africa, or Middle East</option><option value="61">Armed Forces Pacific</option></optgroup><optgroup label="Canada"><option value="62">Alberta</option><option value="63">British Columbia</option><option value="64">Manitoba</option><option value="65">New Brunswick</option><option value="66">Newfoundland and Labrador</option><option value="67">Northwest Territories</option><option value="68">Nova Scotia</option><option value="69">Nunavut</option><option value="70">Ontario</option><option value="71">Prince Edward Island</option><option value="72">Quebec</option><option value="73">Saskatchewan</option><option value="74">Yukon</option></optgroup><optgroup label="Australia"><option value="75">Australian Capital Territory</option><option value="76">New South Wales</option><option value="77">Northern Territory</option><option value="78">Queensland</option><option value="79">South Australia</option><option value="80">Tasmania</option><option value="81">Victoria</option><option value="82">Western Australia</option></optgroup></select>
                </div>
              </div>


              <div class="form-group">
                <label class="control-label col-sm-3">Country</label>
                <div class="controls col-sm-8">
                  <select ng-model="active_location_rule.address.country" class="form-control ng-pristine ng-valid"><option value="? undefined:undefined ?"></option>
                    <option value="AU">Australia</option>
                    <option value="CA">Canada</option>
                    <option value="US">United States</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-3">Rate groups</label>
                <div class="controls col-sm-8">
                  <select ng-options="s.id as s.name for s in rate_groups" ng-model="active_location_rule.rate_group_ids" multiple="" class="form-control ng-pristine ng-valid"><option value="0">Regular</option><option value="1">abc</option></select>

                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
              <input type="submit" value="Save location rule" class="btn btn-primary">
            </div>
          </form>

        </div>
      </div>


    </div>


    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal" id="rate-group-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Rate group</h3>
          </div>
          <%= form_for :rate_group,:url=>"/rate_groups",:html=>{:class=>"form form-horizontal"},:remote=>true do |f| %>
            <%= f.hidden_field :company_id, :value=> current_user.company.id %>
            <div class="modal-body visible-modal-body">
              <div class="form-group">
                <label class="control-label col-sm-3">Name</label>
                <div class="controls col-sm-8">
                  <%= f.text_field :name,:class=>"form-control" %>
                </div>
              </div>
              <div class="modal-footer">
                <button aria-hidden="true" data-dismiss="modal" type="button" class="btn btn-default">Close</button>
                <input type="submit" value="Save rate group" class="btn btn-primary" onclick="$('#rate-group-modal').modal('hide');">
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
