<div id="page-wrapper">
  <div class="row">
    <div class="col-md-6">
      <h4>Zone to zone rate setup</h4>
    </div>
  </div>
  <div class="flat-rate-section console-app row small m-t-md ng-scope">
    <div id="zones">
      <%= render :partial => "company_zones/zones" %>
    </div>
    <div id="vehicle_zones">
      <%= render :partial =>"zone_rates/vehicle_zones" %>
    </div>
  </div>

</div>

<script type="text/javascript">
  function set_vehicles_zone_rate() {
    var ids = [];
    var values = [];
    var hash = {};
    $('.vehicle').each(function () {
      ids.push($(this).attr('id'));
      values.push($(this).val());
    });
    for (var i = 0; i < ids.length; i++) {
      hash[ids[i]] = values[i];
    }
    console.log(hash);
    var source_id = $('.source_id').val();
    var destination_id = $('.destination_id').val();
    $.ajax({
      url: '/zone_rates',
      type: "POST",
      data: {
        hash: hash,
        source_id: source_id,
        destination_id: destination_id
      }
    });
  }
</script>