<div id="page-wrapper">
  <div class="row">
    <div class="col-md-6">
      <h4>Zone to zone rate setup</h4>
    </div>
  </div>
  <div class="flat-rate-section console-app row small m-t-md ng-scope">
    <div id="zones">
      <%= render :partial => "company_zones/zones" %>
      </div>

      <div class="col-md-5">


        <h5 class="section-setup m-b-sm">
          <span class=""><strong>3. </strong></span>
          <span>Setup rates between zones</span>
        </h5>

        <div class="focus-box">


          <div ng-show="!active_zone" class="alert alert-info ng-hide">
            Add zones in box 1 before setting flat rates
          </div>

          <div ng-show="active_zone" class="rate-setup-box">
            <div class="m-b-md">Set up zone to zone rates for
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle ng-binding">Regular rate group <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <!-- ngRepeat: rate_group in rate_groups --><li ng-repeat="rate_group in rate_groups" class="ng-scope"><a ng-click="changeRateGroup(rate_group)" href="#" class="ng-binding">Regular rate group</a></li><!-- end ngRepeat: rate_group in rate_groups -->
                </ul>
              </div>

            </div>



            <div class="">

              <select ng-options="c.id as c.name for c in zone_list" ng-change="changeZoneMap()" class="form-control d-ib w-md ng-pristine ng-valid" ng-model="from_zone_id"><option value="0" selected="selected">Downtown Seattle</option><option value="1">Seattle Tacoma International Airport</option></select>


              <span class="m-l-sm"> to</span>


              <select ng-options="c.id as c.name for c in zone_list" ng-change="changeZoneMap()" class="form-control d-ib w-md ng-pristine ng-valid" ng-model="to_zone_id"><option value="0" selected="selected">Downtown Seattle</option><option value="1" selected="selected">Seattle Tacoma International Airport</option></select>

              <button ng-click="toggleToFromZones()" class="btn btn-default m-l-xs">
                <i class="fa fa-exchange"></i>
              </button>

            </div>







            <form class="m-t-md ng-pristine ng-valid" ng-show="vehicle_types" ng-submit="saveRates()">
              <div>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Vehicle type</th>
                      <th>Base flat rate</th>
                      <th>Is Active?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- ngRepeat: vehicle_type in vehicle_types --><tr ng-repeat="vehicle_type in vehicle_types" class="ng-scope">
                      <td class="ng-binding">
                        Sedan
                      </td>
                      <td>
                        <div class="input-group w-sm">
                          <span class="input-group-addon">$</span>
                          <input type="text" required="" ng-disabled="!vehicle_type.is_active &amp;&amp; vehicle_type.has_rate" ng-model="vehicle_type.rate" class="form-control ng-pristine ng-valid ng-valid-required">
                        </div>
                      </td>

                      <td>
                        <input type="hidden" ng-model="vehicle_type.rate_id" class="ng-pristine ng-valid">
                        <input type="hidden" ng-model="vehicle_type.id" class="ng-pristine ng-valid">
                        <input type="checkbox" ng-model="vehicle_type.is_active" ng-show="vehicle_type.has_rate" class="ng-pristine ng-valid">
                        <small ng-show="!vehicle_type.has_rate" class="ng-hide">Rate not set</small>
                      </td>
                    </tr><!-- end ngRepeat: vehicle_type in vehicle_types --><tr ng-repeat="vehicle_type in vehicle_types" class="ng-scope">
                      <td class="ng-binding">
                        SUV
                      </td>
                      <td>
                        <div class="input-group w-sm">
                          <span class="input-group-addon">$</span>
                          <input type="text" required="" ng-disabled="!vehicle_type.is_active &amp;&amp; vehicle_type.has_rate" ng-model="vehicle_type.rate" class="form-control ng-pristine ng-valid ng-valid-required">
                        </div>
                      </td>

                      <td>
                        <input type="hidden" ng-model="vehicle_type.rate_id" class="ng-pristine ng-valid">
                        <input type="hidden" ng-model="vehicle_type.id" class="ng-pristine ng-valid">
                        <input type="checkbox" ng-model="vehicle_type.is_active" ng-show="vehicle_type.has_rate" class="ng-pristine ng-valid">
                        <small ng-show="!vehicle_type.has_rate" class="ng-hide">Rate not set</small>
                      </td>
                    </tr><!-- end ngRepeat: vehicle_type in vehicle_types --><tr ng-repeat="vehicle_type in vehicle_types" class="ng-scope">
                      <td class="ng-binding">
                        10 PAX VAN
                      </td>
                      <td>
                        <div class="input-group w-sm">
                          <span class="input-group-addon">$</span>
                          <input type="text" required="" ng-disabled="!vehicle_type.is_active &amp;&amp; vehicle_type.has_rate" ng-model="vehicle_type.rate" class="form-control ng-pristine ng-valid ng-valid-required">
                        </div>
                      </td>

                      <td>
                        <input type="hidden" ng-model="vehicle_type.rate_id" class="ng-pristine ng-valid">
                        <input type="hidden" ng-model="vehicle_type.id" class="ng-pristine ng-valid">
                        <input type="checkbox" ng-model="vehicle_type.is_active" ng-show="vehicle_type.has_rate" class="ng-pristine ng-valid ng-hide">
                        <small ng-show="!vehicle_type.has_rate" class="">Rate not set</small>
                      </td>
                    </tr><!-- end ngRepeat: vehicle_type in vehicle_types --><tr ng-repeat="vehicle_type in vehicle_types" class="ng-scope">
                      <td class="ng-binding">
                        Stretch Limo
                      </td>
                      <td>
                        <div class="input-group w-sm">
                          <span class="input-group-addon">$</span>
                          <input type="text" required="" ng-disabled="!vehicle_type.is_active &amp;&amp; vehicle_type.has_rate" ng-model="vehicle_type.rate" class="form-control ng-pristine ng-valid ng-valid-required">
                        </div>
                      </td>

                      <td>
                        <input type="hidden" ng-model="vehicle_type.rate_id" class="ng-pristine ng-valid">
                        <input type="hidden" ng-model="vehicle_type.id" class="ng-pristine ng-valid">
                        <input type="checkbox" ng-model="vehicle_type.is_active" ng-show="vehicle_type.has_rate" class="ng-pristine ng-valid">
                        <small ng-show="!vehicle_type.has_rate" class="ng-hide">Rate not set</small>
                      </td>
                    </tr><!-- end ngRepeat: vehicle_type in vehicle_types --><tr ng-repeat="vehicle_type in vehicle_types" class="ng-scope">
                      <td class="ng-binding">
                        Sedan
                      </td>
                      <td>
                        <div class="input-group w-sm">
                          <span class="input-group-addon">$</span>
                          <input type="text" required="" ng-disabled="!vehicle_type.is_active &amp;&amp; vehicle_type.has_rate" ng-model="vehicle_type.rate" class="form-control ng-pristine ng-valid ng-valid-required">
                        </div>
                      </td>

                      <td>
                        <input type="hidden" ng-model="vehicle_type.rate_id" class="ng-pristine ng-valid">
                        <input type="hidden" ng-model="vehicle_type.id" class="ng-pristine ng-valid">
                        <input type="checkbox" ng-model="vehicle_type.is_active" ng-show="vehicle_type.has_rate" class="ng-pristine ng-valid ng-hide">
                        <small ng-show="!vehicle_type.has_rate" class="">Rate not set</small>
                      </td>
                    </tr><!-- end ngRepeat: vehicle_type in vehicle_types -->
                  </tbody>
                </table>

                <p>Set Rates on Reverse Routes? <input type="checkbox" ng-model="reverse_rates" class="ng-pristine ng-valid"> </p>

                <button ng-show="!rate_saving" class="btn btn-primary" type="submit">Save rates
                </button>
                <button disabled="" ng-show="rate_saving" class="btn ng-hide">Updating rates</button>
              </div>
            </form>

          </div>



        </div>


      </div>

    </div>

  </div>