<strong>Base Transfer Distance:</strong> <span class="best_in_place"><input type="text" class="form-control" id="base_transfer_distance_input"/></span> mile(s)
<button type="button" onclick="update_base_transfer_distance();">Update</button>